<div class="row center-xs">
	<div class="col-sm-8">
		<button (click)="getContracts()" mat-raised-button color="primary">Get Contracts</button>
	</div>
</div>
<div class="row center-xs">
	<div class="col-sm-4">
		<mat-card>
			<h1>List of Contracts</h1>
		      <mat-list>
		        <mat-list-item *ngFor="let contract of contracts">
		          <button
		          [ngClass]="{
		          	  'warning' : contract.status == 'PENDING',
			          'error': contract.status == 'ERROR',
			          'complete': contract.status == 'COMPLETE'
			      }"
		          (click)="getContract()"
		          mat-button>
		          {{contract.data | slice:0:70 }} ...
		      </button>
		        </mat-list-item>
		      </mat-list>
		</mat-card>
	</div>
	<div class="col-sm-4">
		<mat-card>
			<h1>Person</h1>
		</mat-card>
	</div>
</div>